
.questao{
    margin: 20;
    border-radius: 10px 10px 0px 10px;
    -moz-border-radius: 10px 10px 0px 10px;
    -webkit-border-radius: 10px 10px 0px 10px;
    font-family:"Lucida Sans";
    background: #f0f0f0;
    padding: 5px;

}

.questao-errada{
  /*  background: #ff585b;*/
   border: solid 2px red;


}

.questao-certa{
  border: solid 2px green;
    /* background: #aaff51;*/
}
.nome-questao{
    margin: 0 0 0 20;

    font-size: 15pt;
    font-weight: bold;
}
.alternativas{
    font-size: 13pt;

}

.enunciado{

    font-size: 14pt;
    text-align: justify;
}

.alternativa-certa{
    border: dashed 1PX;
    display: inline-block;
    border-color: green;

}

.alternativa-errada{
    border: dashed 0PX;
    display: inline-block;
    border-color: red;

}



